{
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "node": true,
        "jest/globals": true
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:security/recommended", "plugin:prettier/recommended"],
    "plugins": ["@typescript-eslint", "security", "prettier"],
    "parserOptions": { "ecmaVersion": "latest" },
    "rules": {
        "no-console": "warn",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
    },
    "overrides": [
        {
            "files": ["tests/**/*.test.ts"],
            "extends": ["plugin:jest/recommended"],
            "plugins": ["jest"]
        }
    ]
}
